/* Create the site footer */

#site-footer {
    position: absolute;
    margin: 1.5rem 0 0 0;
    padding: 1.2rem 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    bottom: 0;
    color: grey;
    background: white;
    line-height: .5em;
    height: 15px;
/*    color: #BBC7CC; */
    text-align: center;
    width: 100%;
}
